@{
    if (ViewBag != null )
    {
        ViewBag.Title = "RadioFrequencyCenter - Data Browser";
    }

}

<h1>Data Browser</h1>

<p>
    <div class="menu">
        @Html.ActionLink("Работа с записями", "AllRecords", "BroadcastStations")
    </div>

</p>

